<% include("../layout/header.ejs") %>

<link rel="stylesheet" href="/admin/newUser.css">


<h1>Admin Login</h1>

<% if(typeof message !== "undefined"){%>
    <h4> <%=message %> </h4>
<%}%>

<form action="" method="post">
<input type="email" name="email" required placeholder="Enter email ">
<br><br>
<input type="password" name="password" required placeholder="Enter password">
<br><br>
<input type="submit" value="Login">
</form>

<a href="/login">User Login</a>


<% include("../layout/footer.ejs") %>